[submodule "external/MiraiCP-template"]
	path = external/MiraiCP-template
	url = https://github.com/Nambers/MiraiCP-template
[submodule "external/u_web_sockets"]
	path = external/u_web_sockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "external/easywsclient"]
	path = external/easywsclient
	url = https://github.com/dhbaird/easywsclient
[submodule "external/cpr"]
	path = external/cpr
	url = git@github.com:libcpr/cpr.git
[submodule "external/tokenizers-cpp"]
	path = external/tokenizers-cpp
	url = https://github.com/mlc-ai/tokenizers-cpp
[submodule "external/ncnn"]
	path = external/ncnn
	url = https://github.com/Tencent/ncnn
[submodule "external/onnxruntime"]
	path = external/onnxruntime
	url = https://github.com/fredyakumo/onnxruntime.git
[submodule "external/mysql-connector-cpp"]
	path = external/mysql-connector-cpp
	url = git@github.com:mysql/mysql-connector-cpp.git
[submodule "external/general-wheel-cpp"]
	path = external/general-wheel-cpp
	url = https://github.com/FredYakumo/general-wheel-cpp.git
[submodule "external/base64"]
	path = external/base64
	url = https://github.com/tobiaslocker/base64
