**/build/
.vscode/*
.venv/*
logs/vec_db.log
**/pycache/**
**/logs/**
export_knowledge.csv
config.yaml
**/__pycache__/**
.VSCodeCounter/**
**/.DS_Store
.cache/
exported_model/**
train_data/**
.github/
.trae/
uv.lock

simplified_model.onnx
step_metrics.csv
train_data.txt
training_curves.png
training_metrics.csv
best_model_state.bin
epoch_metrics.csv
training_metrics.png
